/* Coffee Palette: Brown #6F4E37, Gold #D4AF37 */

body {
    margin: 0;
    padding: 0;
    font-family: "poppins" , sans-serif;
    background-color: #640b0b;

}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    background: #dd6515;
    color: white;
    width: 100%;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.hero {
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    color: white;
    padding: 0 10%;
}


.btn {
    background: #d4af37;
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    
}
.right-image{
    flex: 1;

}

.right image img{
    width: 100%;
    max-width: 400px;
    height: auto;
}
@media(max-width: 768px){
    .hero .hero-content{
    flex-direction: column;
    text-align: center;
    }
    .hero-image img{
        width: 80%;
        margin-top: 15px;

    }
}



/* Menu Page Styles */
.menu-container {
    padding: 50px 10%;
    text-align: center;
}

.section-title {
    font-size: 2.5rem;
    color: #0a0a09;
    margin-bottom: 40px;
}

.section-title span {
    color: #d4af37;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.menu-card {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.menu-card:hover {
    transform: translateY(-10px);
}

.menu-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.menu-info {
    padding: 20px;
}

.menu-info h3 {
    margin: 10px 0;
    color: #3d2b1f;
}

.menu-info p {
    font-size: 0.9rem;
    color: #803131;
    margin-bottom: 15px;
}

.price {
    display: block;
    font-weight: bold;
    color: #6F4E37;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.add-btn {
    background: #3d2b1f;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.add-btn:hover {
    background: #fac104;
}

.nav-links a.active {
    color: #d4af37;
    font-weight: bold;
    
}
/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.about-section {
    padding: 80px 10%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap; /* Mobile par upar neeche ho jayega */
}

.about-image img {
    width: 100%;
    max-width: 300px;

}

.about-content {
    flex: 1;
    min-width: 250px;
}

.about-content h1 {
    font-size: 3rem;
    color: #fffefd; /* Coffee Brown color */
    margin-bottom: 20px;
}

.about-content p {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #fcf9f9;
}

.btn {
    display: inline-block;
    padding: 10px 25px;
    background-color: #eb6d14;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    
}

.btn:hover {
    background-color: #4b2c20;
}
/* Page ko structure dene ke liye body par yeh check karein */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.about-section {
    flex: 1; /* Yeh line footer ko screen ke niche rakhegi agar content kam ho */
}
/* Footer Styling */
.simple-footer {
    background-color: #f85e21; /* Dark Coffee Brown */
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    font-size: 0.9rem;
    margin-top: 50px; /* About section se thora gap dene ke liye */
}


/* Mobile responsive */
@media (max-width: 768px) {
    .container {
        flex: column;
        gap: 15px;
    }
    .home-content {
        text-align: center;
        padding: 10px;
    }
    .menu-content{
        text-align: center;
        padding: 10px;
    }
    .about-content{
        text-align: center;
        padding: 10px;
    }
    img{
        width: 100%;
        height: auto;
    }
    .navbar{
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}

